@import "../design/css-variables.module.css";

.btn {
  outline: none;
  border: none;
  border-radius: 3px;
  height: 50px;
  width: 150px;
  font-size: 14px;
  margin-top: 3px;
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
  box-shadow: var(--shadow-dark);
  transition: all 200ms;
}

.btn:hover,
.btn:active {
  height: 55px;
  width: 165px;
  font-size: 16px;
  background-color: var(--color-secondary);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .btn {
    font-size: 10px;
    height: 35px;
    width: 110px;
  }

  .btn:hover,
  .btn:active {
    height: 45px;
    width: 125px;
    font-size: 12px;
  }
}
