@import "../design/css-variables.module.css";

.btn {
  visibility: hidden;
  height: 0;
  width: 0;
}

.btnLabel {
  display: flex;
  cursor: pointer;
  width: 125px;
  height: 30px;
  background: transparent;
  border-radius: 3px;
  margin: var(--u-margin-lg) auto;
  position: relative;
  transition: background-color 0.2s;
}

.btnLabel .btnBtn {
  outline: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 125px;
  font-size: 14px;
  margin-top: 3px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: var(--shadow-dark);
  transition: all 200ms;
  z-index: 10;
}

.btnBtn:hover,
.btnBtn:active {
  cursor: pointer;
}

.btn:checked + .btnLabel .btnBtn {
  background-color: var(--color-secondary-dark);
}

.btnText {
  position: relative;
  z-index: 100;
  display: flex;
  margin: auto;
  color: var(--color-white);
}

.presetBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  margin: var(--u-margin-lg) auto;
  left: 50%;
  right: 50%;
}
/* 
@media screen and (max-width: 550px) {
  .btnLabel .btnBtn {
    width: 100px;
    height: 25px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
} */
