@import "../design/css-variables.module.css";

.inputContainer {
  display: grid;
  grid-template-columns: 200px 200px;
  margin: 250px auto;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  background-color: var(--color-white);
  width: 95px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-shadow: var(--shadow-dark);
  margin: 10px;
  justify-self: center;
  grid-column: 1 / 2;
}

.trackerBtn {
  scale: 75%;
}

.chartContainer {
  position: relative;
  display: grid;
  margin: auto;
  top: -200px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--color-black);
  grid-template-columns: repeat(5, 50px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
