@import "./design/css-variables.module.css";

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 1500px;
  background-color: var(--color-primary);
  /* background-image: linear-gradient(to bottom right, var(--color-primary) , var(--color-primary-dark)); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--color-tertiary);
}
